@model Category

<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <h1> Add Category </h1>

        <form class="border p-3 mb-3 rounded"  method="post" action="/Categories/Store">

        <input type="text" name="Name" class="form-control mt-4" placeholder="Enter Name..." />
        <input type="text" name="Description" class="form-control mt-3" placeholder="Enter Description..." />
        
        <button class="btn btn-success mt-5">Add</button>

    </form>
    

</body>
</html>