@model Category

<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <div class="border p-3 mb-3 rounded">
    <h1 class="mb-4" > Category Details </h1>
    
    <h2>Name : @Model.Name</h2>
    <h2>Description : @Model.Description</h2>
    </div>

</body>
</html>